<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
<form action="/cheaklogin" class="box" method="get">
    <h1>Login</h1>
    <input type="text" name="username" placeholder="UserName"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" value="Login"><br>
    <a href="#" class="lost">z
        <h6>Lost Password</h6>
    </a>
    <a href="/signup">
        <h6>Sign Up</h6>
    </a>
</form>
</body>

</html>