<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="css/post.css">
</head>

<body>
<form action="/addpost" class="box" method="POST">
    <h1>Content</h1>
    <input type="hidden" name = "user" value = "Swann">
    <input type="text" name="title" id="title" placeholder="Title"><br>
    <textarea name="content" id="content" placeholder="Content" rows="1" cols="50" style="overflow:hidden"></textarea><br>
    <input type="submit" value="Post"><br>
</form>
</body>

</html>